In [10]:
import pandas as pd 
salary_data = pd.read_csv('datascience_salaries.csv')
salary_data.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary
0,0,Data scientist,Full Time,Senior,New York City,USD,149000
1,2,Data scientist,Full Time,Senior,Boston,USD,120000
2,3,Data scientist,Full Time,Senior,London,USD,68000
3,4,Data scientist,Full Time,Senior,Boston,USD,120000
4,5,Data scientist,Full Time,Senior,New York City,USD,149000

In [12]:
salary_data.describe()

        Unnamed: 0         salary
count  1171.000000    1171.000000
mean    931.620837   64836.037575
std     647.445266   32551.767046
min       0.000000   30000.000000
25%     364.500000   45000.000000
50%     815.000000   63000.000000
75%    1504.500000   68000.000000
max    2259.000000  228000.000000

In [14]:
salary_data.info
salary_data.columns

Index(['Unnamed: 0', 'job_title', 'job_type', 'experience_level', 'location',
       'salary_currency', 'salary'],
      dtype='object')

In [20]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Initialisation du scaler Min-Max
scaler = MinMaxScaler()

# Appliquer la normalisation sur la colonne "salaire"
salary_data['salary_normalisé'] = scaler.fit_transform(salary_data[['salary']])

# Vérification des résultats
print(salary_data[['salary', 'salary_normalisé']].head())

   salary  salary_normalisé
0  149000          0.601010
1  120000          0.454545
2   68000          0.191919
3  120000          0.454545
4  149000          0.601010

In [26]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler

In [ ]:
#
cols_to_pca = salary_data.select_dtypes(include=['float64', 'int64']).columns.drop(['salaire', 'salaire_normalisé'], errors='ignore')


print(f"Colonnes sélectionnées pour PCA : {list(cols_to_pca)}")
print(f"Nombre de colonnes sélectionnées : {len(cols_to_pca)}")

Colonnes sélectionnées pour PCA : ['Unnamed: 0', 'salary', 'salary_normalisé']
Nombre de colonnes sélectionnées : 3

In [ ]:

missing_values = salary_data[cols_to_pca].isnull().sum()
print(f"Valeurs manquantes par colonne : \n{missing_values}")

salary_data[cols_to_pca] = salary_data[cols_to_pca].fillna(salary_data[cols_to_pca].mean())

Valeurs manquantes par colonne :
Unnamed: 0          0
salary              0
salary_normalisé    0
dtype: int64

In [ ]:

pca = PCA(n_components=2)

salary_data_pca = pca.fit_transform(salary_data[cols_to_pca])


salary_data[['PC1', 'PC2']] = salary_data_pca


print(f"Variance expliquée par chaque composante : {pca.explained_variance_ratio_}")

Variance expliquée par chaque composante : [9.99604599e-01 3.95400641e-04]